@charset "UTF-8";

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-image: url("../img/mainheader_002.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main_header{
   background-color: rgba(76, 76, 76, 0.5);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.menu {
   width: 100%;
}

.nav-link {
   color: white;
}

.menu-item {
    margin: 0px 15px;
    border: 1px solid white;
    border-radius: 7px;
}


@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
   font-size: 40px;
  font-weight: bold;
  
}

.jumbotron .container {
  max-width: 40rem;
  color: white;
  font-weight: bold;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


.list-title {
   text-align: center;
   margin-bottom: 20px;
}

.map-container {
   background-color: white;
    height: 100%;
    width: 100%;
}


.map-result {
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 25px;
    border: 2px solid gray;
}

.map-result :hover {
   background: gray;
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
    color: #007bff;
    border-radius: 25px;
    border: 2px solid gray;
}


button#adminQuestion {
   position: fixed;
    right: 60px;
    bottom: 80px;
    border: none;
    outline: none;
    background: url(contact-us.png) no-repeat;
}

table th{
   text-align:center;
}

table td{
   text-align:center;
}
#td_title{
   text-align:left;
}
button#delBtn{
    background: url(button_search.png) no-repeat;
     border: none;
     outline: none;
}

div.imginfo{
   text-align:center;
   
}

div.maininfo span{
<<<<<<< HEAD
	margin-left: 50px;
	font-size: 13px;
	
=======
   margin-left: 50px;
   
>>>>>>> fab36655d06b843a262f83765b64969cc614faa2
}

div.maininfo span#main_num{
   font-size: 30px;
   font-family: Verdana;
   color: #6ad46a;
   font-weight: bold;
   
}

div.maininfo span#sentence{
   
   font-family: 돋움;
   color: #454e57;
   
   
}

span#headname{
   font-size: 40px;
   font-weight: bold;
   font-family: 맑은고딕;
   color: #454e57;
   
   
}


span#animaltitle{
   font-weight: bold;
   font-size: 20px;
   color: #454e57;
   
   
}

span#aftertitle{

	font-weight: bold;
	font-size: 20px;
	color: #454e57;
	
	
}


	
 a#commutitle:link { color: black; text-decoration: none;}
 a#commutitle:visited { color: black; text-decoration: none;}
 a#commutitle:hover { color: black; text-decoration: none;}



