<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>DengDengE</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<description>image server url</description>
		<param-name>DAUM_API_KEY</param-name>
		<param-value>6a9f9d0784be5dac2543ae6ee19f9047</param-value>
	</context-param>

	<context-param>
		<description>image server url</description>
		<param-name>IMG_SERVER_PATH</param-name>
		<param-value>http://192.168.10.43:3000</param-value>
	</context-param>

	<servlet>
		<servlet-name>mainControl</servlet-name>
		<servlet-class>controller.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mainControl</servlet-name>
		<url-pattern>/MainControl</url-pattern>
	</servlet-mapping>


	<!-- UserController url mapping -->
	<servlet>
		<servlet-name>userControl</servlet-name>
		<servlet-class>controller.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userControl</servlet-name>
		<url-pattern>/UserControl</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AnimalBbsController</servlet-name>
		<servlet-class>controller.AnimalBbsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnimalBbsController</servlet-name>
		<url-pattern>/AnimalBbsController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AfterBbsController</servlet-name>
		<servlet-class>controller.AfterBbsController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AfterBbsController</servlet-name>
		<url-pattern>/AfterBbsController</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>CommuBbsController</servlet-name>
		<servlet-class>controller.CommuBbsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommuBbsController</servlet-name>
		<url-pattern>/CommuBbsController</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>FindPlaceController</servlet-name>
		<servlet-class>controller.FindPlaceController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindPlaceController</servlet-name>
		<url-pattern>/FindPlaceController</url-pattern>
	</servlet-mapping>
	
	
		<servlet>
		<servlet-name>BookController</servlet-name>
		<servlet-class>controller.BookController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookController</servlet-name>
		<url-pattern>/BookController</url-pattern>
	</servlet-mapping>
</web-app>
